### Python crash

In [ ]:
# Versão da Linguagem Python

from platform import python_version
print('Versão de Python Neste Jupyter Notebook:', python_version())

In [ ]:
#imports necessários

import matplotlib.pyplot as plt       # visualização
import pandas as pd                   # manipulação de dados

In [ ]:
# versões utilizadas nesse Notebook.

print(f'Versão do Numpy {np.__version__}')

### Data types

#### Numbers

In [1]:
2+ 2

4

In [2]:
type(2)

int

In [3]:
2* 3

6

In [4]:
2- 3

-1

In [5]:
type(2- 3)

int

In [6]:
abs(2- 3)

1

In [7]:
2/ 3

0.6666666666666666

In [8]:
5/ 2

2.5

In [9]:
type(5/ 2)

float

In [10]:
int(5/ 2)

2

In [11]:
5// 2

2

In [12]:
5% 2

1

In [13]:
2** 3

8

In [14]:
3** 2

9

In [15]:
1 + 1.0

2.0

### Variable Assignment

In [16]:
var_name= 2

In [17]:
var name= 2

SyntaxError: invalid syntax (3226903495.py, line 1)

In [18]:
varname_= 2

In [19]:
_varname= 2

In [20]:
12varname= 2

SyntaxError: invalid decimal literal (2871221744.py, line 1)

In [21]:
varname12= 2

In [22]:
var_name

2

In [23]:
varname_

2

In [24]:
varname12

2

In [25]:
type(var_name)

int

In [26]:
float_var= 2.0

In [27]:
type(float_var)

float

In [28]:
a= 1
b= 3.9
c= a+ b
c

4.9

In [29]:
type(c)

float

In [30]:
float= 2

In [31]:
var_name

2

In [32]:
float(var_name)

TypeError: 'int' object is not callable

In [33]:
del float

In [34]:
float(var_name)

2.0

In [35]:
# float, int, double, for, if, else

### String

In [ ]:
# ' '
# " "

In [36]:
'this is string'

'this is string'

In [37]:
type('this is string')

str

In [38]:
type("this is string")

str

In [39]:
type("this is string")

str

In [40]:
string= 'this is string'

In [41]:
string

'this is string'

In [42]:
string= "this is double"

In [43]:
string

'this is double'

In [44]:
print(string)

this is double

In [45]:
string= "this is lesson with (') "

In [46]:
string

"this is lesson with (') "

In [47]:
print(string)

this is lesson with (')

In [48]:
string= 'this is lesson with (\') '
print(string)

In [51]:
string= r"this is lesson with (')"
print(string)

In [55]:
string= "this is lesson with (') " + '2nd' + 'lesson'
print(string)

this is lesson with (') 2ndlesson

In [56]:
string= f"this is lesson with (') {2}nd + lesson"
print(string)

this is lesson with (') 2nd + lesson

### List

In [ ]:
# list=  []
# tuple= ()
# dict=  {}

In [57]:
x= [1, 2, 3, 4, 5]
x

[1, 2, 3, 4, 5]

In [58]:
x= [1, 2, 'three', 4.0]
x

[1, 2, 'three', 4.0]

In [59]:
x.append(5)
x

[1, 2, 'three', 4.0, 5]

In [60]:
x.pop()

5

In [61]:
x.insert(0, 'one')

In [62]:
x

['one', 1, 2, 'three', 4.0]

In [63]:
x[:2]

['one', 1]

### Set

In [64]:
l= [1, 1, 2, 2]

In [65]:
type(l)

list

In [66]:
s= {1, 1, 2, 2}    # set

In [67]:
s

{1, 2}

In [68]:
type(s)

set

In [69]:
set(l)

{1, 2}

In [70]:
s= {1, 'one', 2.0, 'three'}
s

{1, 2.0, 'one', 'three'}

In [71]:
s[0]

TypeError: 'set' object is not subscriptable

In [74]:
l= [1, 'one', 2.0, 'three']
l

[1, 'one', 2.0, 'three']

In [76]:
l[1]

'one'

### Tuple

In [ ]:
# ( )

In [1]:
t= (1, 'two', 'three')

In [2]:
t

(1, 'two', 'three')

In [3]:
t[0]

1

In [4]:
t[2]

'three'

In [5]:
t[0]= 2

TypeError: 'tuple' object does not support item assignment

In [6]:
t[:1]

(1,)

In [9]:
t[-1:]

('three',)

In [10]:
t[-2:]

('two', 'three')

### Dictionary

In [ ]:
# { }
# key: value

In [11]:
d= {'key_1': 'value_1',
    'key_2': 'value_2',
    'key_3': 'value_3',
    'key_4': 'value_4',
    'key_5': 'value_5'}

In [12]:
type(d)

dict

In [13]:
d

{'key_1': 'value_1',
 'key_2': 'value_2',
 'key_3': 'value_3',
 'key_4': 'value_4',
 'key_5': 'value_5'}

In [14]:
d= {1: 'One',
    'two': 2}

In [15]:
d

{1: 'One', 'two': 2}

In [16]:
d.keys()

dict_keys([1, 'two'])

In [17]:
d.values()

dict_values(['One', 2])

In [18]:
d.items()

dict_items([(1, 'One'), ('two', 2)])

In [20]:
d['three']= 3.0

In [21]:
d

{1: 'One', 'two': 2, 'three': 3.0}

In [22]:
d['three']= 3

In [23]:
d

{1: 'One', 'two': 2, 'three': 3}

### Boolean and Comparison Operator

In [24]:
True

True

In [25]:
False

False

In [26]:
1 > 2

False

In [27]:
2 > 1

True

In [28]:
10 == 12

False

In [29]:
10 == 10

True

In [30]:
10 != 11

True

In [32]:
None == None

True

In [33]:
None != None

False

In [34]:
'string' == 'string'

True

In [35]:
'string ' == 'string'

False

### Logical Operator

In [ ]:
# and, or

In [36]:
10 or 8

10

In [37]:
0 or 1

1

In [38]:
3 or 2

3

In [39]:
5 or 4

5

In [40]:
(1 == 2) or (1 == 1)

True

In [41]:
(1 == 2) and (1 == 1)

False

In [42]:
False and True

False

In [43]:
False and False

False

In [44]:
True and True

True

In [45]:
(1 > 2) and (3 > 2) or (7 > 5)

True

In [46]:
(1 > 2) and ((3 > 2) or (7 > 5))

False

### IF, ELSE, ELIF

In [47]:
if (1 > 2):
    print('True')

In [ ]:
if False:
    print('this is True')

In [48]:
(1 > 2)

False

In [49]:
if(2 > 1):
    print('True')

True

In [50]:
(2 > 1)

True

In [51]:
if True:
    print('True')

True

In [52]:
if (1 > 2):
    print('1 > 2')
else:
    print('1 is not greather than 2')

1 is not greather than 2

In [54]:
age= 49

if age >= 20 and age < 40:
    print('I am young')
elif age >= 40:
    print('I am old')

I am old

In [55]:
age= 19

if age >= 20 and age < 40:
    print('I am young')
elif age >= 40:
    print('I am old')
else:
    print('I am Kid')

I am Kid

### For and While Loop

In [57]:
l= [1, 'one', 2.0, 'three']

In [58]:
l

[1, 'one', 2.0, 'three']

In [59]:
l[0]

1

In [60]:
l[1]

'one'

In [61]:
for item in l:
    print(item, type(item))

1 <class 'int'>
one <class 'str'>
2.0 <class 'float'>
three <class 'str'>

In [62]:
t

(1, 'two', 'three')

In [63]:
for item in t:
    print(item)

1
two
three

In [64]:
for item in 2:
    print(item)

TypeError: 'int' object is not iterable

In [65]:
range(2)

range(0, 2)

In [67]:
for item in range(2):
    print(item)

0
1

In [70]:
i= 0

while i < len(l):
    print(i)
    i = i+1

0
1
2
3

In [71]:
len(l)

4

In [72]:
i= 0

while i < len(l):
    print(l[i])
    i = i+1

1
one
2.0
three

### Lamba Metod

In [6]:
def method_1(x):
    x= x** 2
    print(x)

In [7]:
method_1(3)

9

In [8]:
def method_2(x):
    x= x**2
    return x

In [9]:
method_2(3)

9

In [10]:
res_1 = method_1(3)

9

In [11]:
res_2 = method_2(3)

In [12]:
res_1

In [13]:
res_2

9