## Pandas

### DataFrame and Series

In [1]:
import pandas as pd

In [2]:
data= {'fruite': [1, 3, 4, 5], 'veg': [7, 8, 9, 10]}
data

{'fruite': [1, 3, 4, 5], 'veg': [7, 8, 9, 10]}

In [3]:
type(data)

dict

In [6]:
df= pd.DataFrame(data)
df

   fruite  veg
0       1    7
1       3    8
2       4    9
3       5   10

In [7]:
df['fruite']

0    1
1    3
2    4
3    5
Name: fruite, dtype: int64

In [8]:
(type(df['fruite']))

pandas.core.series.Series

In [9]:
df['veg']

0     7
1     8
2     9
3    10
Name: veg, dtype: int64

In [10]:
df.veg

0     7
1     8
2     9
3    10
Name: veg, dtype: int64

### Reading and Writing File

In [11]:
df = pd.read_csv('data/iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [14]:
# df.head()=> defalt 5
df.head(7)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa

In [15]:
# df.tail()=> defalt 5
df.tail(4)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [16]:
df['Species']

0         Iris-setosa
1         Iris-setosa
2         Iris-setosa
3         Iris-setosa
4         Iris-setosa
            ...
145    Iris-virginica
146    Iris-virginica
147    Iris-virginica
148    Iris-virginica
149    Iris-virginica
Name: Species, Length: 150, dtype: object

In [20]:
df_1= df[['Species', 'SepalLengthCm']]
df_1.head()

       Species  SepalLengthCm
0  Iris-setosa            5.1
1  Iris-setosa            4.9
2  Iris-setosa            4.7
3  Iris-setosa            4.6
4  Iris-setosa            5.0

In [22]:
df_2= pd.read_csv('data/iris.csv', usecols= ['Species', 'SepalLengthCm'])
df_2.head()

   SepalLengthCm      Species
0            5.1  Iris-setosa
1            4.9  Iris-setosa
2            4.7  Iris-setosa
3            4.6  Iris-setosa
4            5.0  Iris-setosa

In [25]:
df_2= df_2.set_index('Species')
df_2.head()

             SepalLengthCm
Species
Iris-setosa            5.1
Iris-setosa            4.9
Iris-setosa            4.7
Iris-setosa            4.6
Iris-setosa            5.0

In [24]:
df_2.to_csv('data/iris_filter.csv')