## Pandas

### DataFrame and Series

In [1]:
import pandas as pd

In [2]:
data= {'fruite': [1, 3, 4, 5], 'veg': [7, 8, 9, 10]}
data

{'fruite': [1, 3, 4, 5], 'veg': [7, 8, 9, 10]}

In [3]:
type(data)

dict

In [6]:
df= pd.DataFrame(data)
df

   fruite  veg
0       1    7
1       3    8
2       4    9
3       5   10

In [7]:
df['fruite']

0    1
1    3
2    4
3    5
Name: fruite, dtype: int64

In [8]:
(type(df['fruite']))

pandas.core.series.Series

In [9]:
df['veg']

0     7
1     8
2     9
3    10
Name: veg, dtype: int64

In [10]:
df.veg

0     7
1     8
2     9
3    10
Name: veg, dtype: int64