## Data Visualization with Pandas

### Line plot

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
%matplotlib inline

In [3]:
from numpy.random import randn, randint, uniform, sample

In [14]:
df= pd.DataFrame(randn(1000), index= pd.date_range('2010-06-07', periods= 1000), columns= ['value'])

In [15]:
df

               value
2010-06-07 -0.786578
2010-06-08 -2.040567
2010-06-09  0.059996
2010-06-10 -0.797409
2010-06-11  0.104473
...              ...
2013-02-26 -0.278072
2013-02-27 -0.889580
2013-02-28 -0.255068
2013-03-01  2.065444
2013-03-02  1.224820

[1000 rows x 1 columns]

In [16]:
ts= pd.Series(randn(1000), index= pd.date_range('2010-06-07', periods= 1000))

In [17]:
ts

2010-06-07   -0.022310
2010-06-08   -0.463891
2010-06-09    0.134848
2010-06-10    0.359654
2010-06-11   -0.121871
                ...
2013-02-26   -0.561987
2013-02-27    0.168624
2013-02-28   -0.965502
2013-03-01    0.459515
2013-03-02    0.361535
Freq: D, Length: 1000, dtype: float64

In [18]:
ts.head()

2010-06-07   -0.022310
2010-06-08   -0.463891
2010-06-09    0.134848
2010-06-10    0.359654
2010-06-11   -0.121871
Freq: D, dtype: float64