## Time series plot

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

%matplotlib inline

In [3]:
plt.rcParams['figure.figsize']= [8, 4]
plt.rcParams['figure.dpi']= 140

In [9]:
temperatures= pd.read_csv('data/daily_temperature.csv')
temperatures.head()

         Date  Temp
0  1981-01-01  20.7
1  1981-01-02  17.9
2  1981-01-03  18.8
3  1981-01-04  14.6
4  1981-01-05  15.8

In [10]:
temperatures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3650 non-null   object
 1   Temp    3650 non-null   float64
dtypes: float64(1), object(1)
memory usage: 57.2+ KB

In [11]:
temperatures= pd.read_csv('data/daily_temperature.csv', parse_dates= True)
temperatures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3650 non-null   object
 1   Temp    3650 non-null   float64
dtypes: float64(1), object(1)
memory usage: 57.2+ KB

In [13]:
temperatures['Date']= pd.to_datetime(temperatures['Date'])
temperatures.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    3650 non-null   datetime64[ns]
 1   Temp    3650 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 57.2 KB

In [14]:
temperatures.set_index('Date', inplace= True)

In [15]:
temperatures.head()

            Temp
Date
1981-01-01  20.7
1981-01-02  17.9
1981-01-03  18.8
1981-01-04  14.6
1981-01-05  15.8